APP_DB_URL=jdbc:postgresql://localhost:5432/fortis-website
APP_DB_USERNAME=postgres
APP_DB_PASSWORD=postgres
APP_CONTACT_NOTIFICATION_EMAIL=
APP_JWT_SECRET=fortis-vn-super-secret-key-change-in-production-2026
